.filterContainer {
    border-bottom: 2px solid #eaeaea;
}

.container {
    padding: 15px;
    background-color: #fafbfe;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    min-width: 50%;
    height: calc(100vh - 146px);
}

.container::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 991px) and (min-width: 767px) {

    .container {
        overflow-x: scroll;
        min-width: 40%;
        height: calc(100vh - 192px);
        max-width: 90vw;
    }

    .checkListContainer {
        top: 50%;
    }
}

@media screen and (max-width: 767px) {

    .container {
        overflow-x: scroll;
        max-width: 79vw;
        min-width: 100%;
        height: calc(100vh - 216px);
    }

    .checkListContainer {
        top: 50%;
    }
}